*{
    margin:0;
    padding: 0;
    list-style-type: none;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 110px;
    background-color: #f7fafb;
    box-shadow: rgba(157, 91, 91, 0.25) 0px 54px 55px, rgba(225, 157, 157, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
nav header{
    display: flex;
    align-items: center;
    gap: 10px; 
    
}

nav header a{
    font-size: 35px;
    color: rgba(75, 75, 133, 0.935);
}
nav header h1 {
    color: rgb(205, 185, 185)
}

nav header h1 span{
    color: rgba(75, 75, 133, 0.935);
}
nav ul{
    display: flex;
    gap:10px
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: gray;
}

nav ul li a:hover{
 border-bottom: 1px solid gray;
 border-radius: 5px;
 color: rgb(74, 92, 134);
 transition: 0.5s;
}
/* meeting course baslangic */
.course-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}
.course-content .course-sec{
    text-align: center;
    flex: 1;

}
.course-content .image{
    flex: 1;
    display: flex;
    justify-content: center;

}
.course-content .image img{
    width: 300px;
}

.course-content .course-sec h2{
    color: rgb(74, 92, 134);
}
 
.course-content .course-sec h2 span{
    color: rgb(207, 28, 28);
}

.course-content .course-sec .course-p{
    margin: 20px;
    color:rgb(94, 104, 157)
    
}
.course-content .course-sec button{
border: none;
padding: 10px 20px;
background-color: rgb(87, 151, 197);
border-radius: 5px;
cursor: pointer;
color: white;
font-weight: bold;

}
.course-content .course-sec button:hover{
    opacity: 0.5;
    transition: 0.5s;
    background-color: black;
}

/* info container baslangic */



.info-content {
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(26, 85, 104);
    border-radius: 10px;
box-shadow: 1px 1px 10px ;
position: relative;
    
}

.info-content .info-sec{
    text-align: center;
    flex: 1;

}
.image-sec{
    flex:1;
    display: flex;
    justify-content: center;
}

.info-content .info-sec h3{
    color: white;
    background-color: rgb(39, 116, 145);
    padding: 10px 20px;
    border-top-right-radius: 50px;
    position: absolute;
    top: -20px;
    width: 50%;
}

.info-content .info-sec p{
    color: rgba(99, 9, 69, 0.918);
    margin: 20px 0px;
}

.info-content .info-sec  button{
    border: none;
    padding: 10px 20px;
    background-color: rgb(196, 104, 104);
    border-radius:5px;
    color: rgb(53, 74, 34);
}

.info-content .info-sec  button:hover{
    transform: scale(0.9);
    transition: 0.5sd;
}
/* info container bitis */



/*! course card baslangic */
.card-container{
    margin-top: 50px;
    text-align: center;
}

.card-container h3{
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid;
    border-radius: 50%;

}

.card-content{
    display: flex;
    justify-content: center;

}

.card-content .card{
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    border-radius: 10px;
}
.card-content .card:hover{
    transform: translateX(-5px);
    transition: 3px;     
}

.card-content .card button{
    border: none;
    padding: 3px 7px;
    background-color: rgb(61, 179, 179);
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;

}

.card-content .card img{
    background-color: gray;
    border-radius: 50%;
    margin-top: 20px;
}
 
.card-content .card p mark{
    background-color: rgb(188, 181, 207);
    color: rgb(88, 21, 21);

}


/*!course card bitis  */


/* footer baslangic */
footer{
    padding: 20px;
    margin-top: 100px;
    border-top: 1px solid gray;
}
.footer-start{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    place-items: center;

}

footer .footer-start .footer-area a{
    text-decoration: none;
    color: gray;
}


footer .footer-start .footer-area{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer .bottom{
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid gray;
    padding: 20px;
}
/* footer bitis */

/* media sorgulari */
@media(max-width:800px){
.course-content{
    flex-direction: column-reverse;
}
}
/* media sorgulari bitis */
.info-content{
    flex-direction: column-reverse;

}







